<div class=" pe-2 form-loc">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group bg-transparent d-flex flex-column searchbox">
            <input type="text" class="form-control outline-primary  w-50 " id="search-location-input-top-map" placeholder="search location" aria-label="Recipient's username" aria-describedby="button-submit">
            <button class="btn btn-primary w-50" type="submit" id="button-submit">Search</button>
        </div>
    </form>
</div>